.header {
  color: white;
  padding: 40px;
  border: 1px solid black;
  background-image: linear-gradient(
    to right,
    #76320b,
    #642f14,
    #532d1a,
    #402a1f,
    #2d2623
  );

  nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    span {
      font-size: 38px;
    }
  }

  ul {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    font-size: 20px;

    a {
      color: #fde685;
    }
  }
}
