.header {
  color: white;
  padding: $spacing-5xl;
  border: 1px solid black;
  background-image: linear-gradient(
    to right,
    #76320b,
    #642f14,
    #532d1a,
    #402a1f,
    #2d2623
  );

  nav {
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;
    span {
      font-size: $font-3xl;
    }
  }

  ul {
    display: flex;
    gap: $spacing-3xl;
    list-style: none;
    padding: 0;
    font-size: $font-lg;
    a {
      color: $light-yellow;
    }
  }
}
