.header {
  background-image: linear-gradient(
    to right,
    #76320b,
    #642f14,
    #532d1a,
    #402a1f,
    #2d2623
  );
  color: white;
  padding: $spacing-lg $spacing-md;
  display: flex;
  flex-direction: column;
  gap: $spacing-small;
  // border: 1px solid white;

  .messageContainer {
    background-color: white;
    padding: 8px;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    color: $brown;
    font-size: $font-md;
    margin-bottom: 20px;
  }

  .heading {
    font-size: $font-2xl;
  }

  nav {
    ul {
      list-style-type: none;
      display: flex;
      gap: $spacing-md;
      padding: 0;
      a {
        color: $light-yellow;
        text-decoration: none;

        &
        over {
          text-decoration: underline;
        }
      }
    }
  }

  @include respond-min(tablet) {
    padding: $spacing-lg 100px;

    .messageContainer {
      width: 20%;
    }

    .heading {
      font-size: $font-3xl;
    }
  }
}
