.basicsForm {
  width: 100%;

  label {
    display: flex;
    flex-direction: column;
    gap: spacing-xxs;
    margin-bottom: $spacing-small;
    font-weight: 700;

    input {
      border-radius: 5px;
      border: 1px solid $light-grey;
      background-color: $light-grey;
      padding: $spacing-xxs;
      font-size: $font-md;
    }
  }

  .formRow {
    select {
      font-size: $font-md;
      padding: $spacing-xxs;
      border-radius: 5px;
      border: 1px solid $light-grey;
      background-color: $light-grey;

      &:hover {
        cursor: pointer;
      }
    }
  }

  @include respond-min(desktop) {
    .formRow {
      display: flex;
      justify-content: space-evenly;
    }
    label {
      width: 25vw;
    }
  }
}
