.tabsMenu {
  margin-top: 20px;
  margin-bottom: 12px;
  border-radius: 20px;
  padding: 4px 6px;
  background-color: #ebebf0;
  display: flex;
  justify-content: space-evenly;
  button {
    all: unset;

    padding: 8px 0;
    border-radius: 16px;
    width: 250px;
    text-align: center;

    &:hover {
      cursor: pointer;
    }
    &.active {
      background-color: #ffffff;
    }
  }
}

