.tabsMenu {
  margin-top: $spacing-lg;
  margin-bottom: $spacing-small;
  border-radius: $spacing-lg;
  padding: $spacing-xxxs $spacing-xxs;
  background-color: $grey;
  display: flex;
  justify-content: space-evenly;
  button {
    all: unset;

    padding: $spacing-xxs 0;
    border-radius: 16px;
    width: 250px;
    text-align: center;

    &:hover {
      cursor: pointer;
    }
    &.active {
      background-color: #ffffff;
    }
  }
}
