.pointBuyPanel {
  background-color: $light-grey;
  padding: $spacing-xl $spacing-3xl;
  display: flex;
  flex-direction: column;
  align-items: center;
  .selectContainer {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    span {
      margin-right: $spacing-xxs;
    }
    label {
      width: 100px;
      select {
        width: 100%;
      }
    }

    @include respond-min(desktop) {
      flex-direction: row;
    }
  }
}
