.abilitiesPanel {
  .options {
    margin-bottom: $spacing-2xl;
    display: flex;
    flex-direction: column;

    button {
      border: 2px solid #f2f2f2;
      background-color: #fff;
      padding: $spacing-xxs $spacing-xxxs;
      border-radius: 10px;
      color: #929292;
      font-weight: 700;
      font-size: $font-lg;

      &:hover {
        cursor: pointer;
        background-color: $light-grey;
      }
    }
  }

  .abilities {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-2xl;

    h3 {
      color: $brown;
      font-size: $font-lg;
    }
  }

  .abilitiesContainer,
  .defensesContainer {
    display: flex;
    flex-direction: column;
    gap: $spacing-xl;
  }

  @media (min-width: 700px) {
    .abilities {
      width: 70%;
      margin: 0 auto;

      h3 {
        width: 100%;
        background-color: $yellow;
        padding: $spacing-xxs;
      }
    }
    .abilitiesContainer,
    .defensesContainer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: $spacing-lg;
      justify-items: center;
      width: 100%;
    }
  }

  @include respond-min(desktop) {
    .abilitiesContainer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: $spacing-5xl;
      justify-items: center;
    }
  }

  @include respond-min(xl) {
    .defensesContainer {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
