*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  background-color: #fcf9ef;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  /* height: 100vh; */
  margin: 50px 20px;

  @media (min-width: 600px) {
    margin: 100px 100px 0 100px;
  }
}
