.homePage {
  height: 100vh;

  h1 {
    margin-bottom: $spacing-3xl;
  }

  &__content {
    margin-top: $spacing-5xl;

    ul {
      list-style-type: none;
      padding: 0;
      margin-top: 16px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .container {
      display: flex;
      flex-direction: column;
      gap: $spacing-xs;
      button {
        width: 300px;
        padding: $spacing-small;
        font-size: $font-md;
        background-color: $yellow;
        border-radius: 10px;
        border: none;

        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
    }
  }

  @include respond-min(tablet) {
    // flex-direction: row;
    &__content {
      ul {
        flex-direction: row;
      }
    }
  }
}
