.standardArrayPanel {
  background-color: #f3f3f5;
  padding: 24px 32px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .selectContainer {
    display: flex;
    flex-direction: column;
    gap: 18px;
    span {
      margin-right: 8px;
    }
    label {
      width: 100px;
      select {
        width: 100%;
      }
    }

    @media (min-width: 1024px) {
      flex-direction: row;
    }
  }
}
