.statCard {
  border: 1px solid $border-grey;
  width: 200px;
  display: flex;
  flex-direction: column;

  .statTitle {
    background-color: $brown;
    color: white;
    padding: $spacing-xxs;
  }
  div {
    display: flex;
    justify-content: space-between;
    padding: $spacing-xxxs $spacing-xxs;

    border-bottom: 1px solid $border-grey;

    .statNumber {
      justify-self: flex-end;
    }

    &.statHighlight {
      background-color: $beige;
    }
  }
}
