.characterBuilderPage {
  h1 {
    display: none;
  }
  h2 {
    @include h2-style;
    margin-bottom: $spacing-lg;
  }

  section {
    border: 1px solid $border-grey;
    border-radius: 10px;
    padding: $spacing-lg $spacing-xl;
    background-color: #ffffff;
  }
}
