.characterBuilderPage {
  h1 {
    display: none;
  }
  h2 {
    @include h2-style;
  }

  section {
    border: 1px solid $border-grey;
    border-radius: 10px;
    padding: $spacing-lg $spacing-xl;
    background-color: #ffffff;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: $spacing-lg;

    button {
      font-size: $font-md;
      padding: $spacing-small $spacing-md;
      border-radius: 10px;
      border: none;
      background-color: $yellow;

      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }
  }
}
