.characterBuilderPage {
  h1 {
    display: none;
  }
  h2 {
    font-size: 20px;
    font-weight: 400;
    // margin-bottom: $spacing-lg;
    margin-bottom: 20px;
  }

  section {
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    // padding: $spacing-lg $spacing-xl;
    padding: 20px 24px;
    background-color: #ffffff;
  }
}
