.combatStatsPanel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;

  &__container {
    .table {
      display: flex;
      flex-direction: column;
      gap: 8px;
      div {
        width: 100%;
        display: flex;
        flex-direction: column;

        .title {
          background-color: $grey;
          text-align: center;
          padding: 8px 4px;
        }
        .amount {
          text-align: center;
          background-color: $light-grey;
          padding: 4px;
        }
      }
    }
  }

  @include respond-min(tablet) {
    &__container {
      flex-direction: row;
      .table {
        flex-direction: row;
        div {
          width: 50%;
        }
      }
    }
  }
}
