$spacing-xxxs: 4px;
$spacing-xxs: 8px;
$spacing-xs: 10px;
$spacing-small: 12px;
$spacing-md: 16px;
$spacing-lg: 20px;
$spacing-xl: 24px;
$spacing-2xl: 28px;
$spacing-3xl: 32px;
$spacing-4xl: 36px;
$spacing-5xl: 40px;
