@use "breakpoints" as *;

$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 20px;
$font-xl: 24px;
$font-2xl: 32px;
$font-3xl: 40px;

// Font weights
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;

@mixin h2-style {
  font-size: $font-lg;
  font-weight: $font-regular;
  @include respond-min(tablet) {
    font-size: $font-xl;
  }
}
