$spacing-xxs: 4px; 
$spacing-xs: 8px; 
$spacing-sm: 12px; 
$spacing-md: 16px; 
$spacing-lg: 20px;
$spacing-xl: 24px; 
$spacing-2xl: 32px; 
$spacing-3xl: 40px;
$spacing-4xl: 48px;
$spacing-5xl: 64px;
$spacing-6xl: 80px;
